body {
  background: linear-gradient(100deg,rgb(100, 78, 162),rgb(216, 99, 216));
}

.container{
  text-align: center;
  background-color: antiquewhite;
  max-width: 700px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
}

.title{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 15px;
}

.title img{
  width: 80px;
  height: 80px;
}
.dice-row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

#diceCount{
  height: 30px;
  text-align: center;
  border-radius: 10px;
  border-color: black;
  border-style: groove;
  font-size: medium;
}

label{
  font-size: 1.5em;
}

button{
  font-weight: bold;
  font-size: medium;
  width: 100px;
  height: 38px;
  padding: auto;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(136, 52, 83);
  border: none;
}

button:hover{
  background-color: rgb(147, 85, 108);
}

button:active{
  background-color: rgb(147, 100, 118);
}




